{{> shared/header }}
<div class="jumbotron fliud-jumbotron">
<div class="container">
<h1 class="display-4"><a href="/">{{site.title}}</a></h1>
<p class="lead">{{site.description}}</p>
</div>

</div>
<div class="container">
{{{ content }}}
</div>
  
{{> shared/footer }}