---
layout: default
---
<div class="row">
  <div class="mb-4 col-12 col-lg-4">
    {{> shared/list header="Primeros platos" list=primeros path=site.paths.primeros}}
  </div>

  <div class="mb-4 col-12 col-lg-4">
    {{> shared/list header="Segundos platos" list=segundos path=site.paths.segundos}}
  </div>

  <div class="mb-4 col-12 col-lg-4">
    {{> shared/list header="Postres" list=postres path=site.paths.postres}}
  </div>
</div>